<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>Bird Bot</title>
    </head>

    <style>
        body {
            background-color : #0b110c;
            text-align : center
        }
    
    </style>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='bird.jpg')}}" width = 50px height = 50px/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/commands">Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/FAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <div style ='text-align : left ; padding-left : 200px;padding-right : 200px; color : white ; margin-top : 5%;'>
            <h1 style = ' color : white ; margin-bottom : 3%;'>FAQ</h1>
            <div style = 'background-color : #080c08 ; border : darkgoldenrod solid 1px ; border-radius :8px ; padding : 10px; padding-left: 50px ; padding-right : 50px; margin-bottom : 3%'>
                <h2 style = 'padding : 0 ; margin:0'>How Do I Add The Bot?</h2>
                <hr>
                <p style = 'color : gray'>The Bot Is Currently Private Due To Youtube's Legal Terms And Services. DM pZouLL#1686 (Me) Because You Might Get Approved And Get An Invite ;). For Further Questions, DM Me Aswell.</p>
            </div>
            <div style = 'background-color : #080c08 ; border : darkgoldenrod solid 1px ; border-radius :8px ; padding : 10px; padding-left: 50px ; padding-right : 50px; margin-bottom : 3%'>
                <h2 style = 'padding : 0 ; margin:0'>Why Is The Bot Offline?</h2>
                <hr>
                <p style = 'color : gray'>Most Likely, The Bot Is Down Due TO Maintenance Or When We Are Rebooting To Apply An Update. If The Bot Is Offline For More Than A Day, Please Check Our Blog Post.</p>
            </div>
            <div style = 'background-color : #080c08 ; border : darkgoldenrod solid 1px ; border-radius :8px ; padding : 10px; padding-left: 50px ; padding-right : 50px; margin-bottom : 3%'>
                <h2 style = 'padding : 0 ; margin:0'>Why Is The Bot Not Responding To Me?</h2>
                <hr>
                <p style = 'color : gray'>Most Likely, We Are Restarting The Bot. If It Persists, Please DM Me pZouLL#1686</p>
            </div>
        </div>
        

    </body>
</html>